
*{
    margin: 0%;
    padding:0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background-color:#d8dbe3;
    display: flex;
    align-items:center;
    justify-content: center;
}
.calculator{
    background-color: #1a2125;
    padding:10px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    outline: 1px;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255, 255,0.1);
}
.calculator form input{
    border:0;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: #02121e;
    background: transparent;
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    margin:10px ;
}
 form .display{
    display:flex;
    margin:20px 0;
    justify-content: flex-end;
 }
 form .display input{
   text-align: right;
   flex:1;
   font-size: 45px;
   box-shadow: none;
 }
form input.equal{
    width:130px;
}
form input.operator{
    color:aqua;
}
